body{
    margin: 0;

}

.page{
    width: 100vw;
    height: 100vh ;
    background-color: rgb(233, 211, 185);
}

.page-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.page-card {
    border-radius:0.5em;
    width: 23em;
        /* Fixed width */
    height: 27em;
    padding: 20px;
    background-color:#16191e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.experience{
    display: flex;
    color: white;
    gap: 1em;
    justify-content: center;
}

.experience-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.expirence-year {
   
   
}
.expirence-year span{
    text-align: center;
    padding: 0.7em 2em;
    background-color: #34393f;
    border-radius: 0.3em;
    border: 2px solid #3f444b;
}

.main-profile-img{
    border: #16191e 5px solid;
    border-radius: 0.5em;
    position: relative;
    bottom: 5em;
    width: 120px;
    height: 120px;
    margin: 0 auto;

}