body{
    margin: 0;

}

.page{
    width: 100vw;
    height: 100vh ;
    background-color: rgb(233, 211, 185);
}

.page-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.page-card {
    border-radius: 1em;
    width: 20em;
        /* Fixed width */
    height: 30em;
    padding: 20px;
    background-color:#16191e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.experience{
    display: flex;
    color: white;
}
.experience-wrapper{
    background-color: #34393f;
}

.main-profile-img{
    width: 120px;
    height: 120px;

}